<header th:fragment="header">
  <img th:src="@{/images/sorospot-lettering.png}" alt="Logo" />
  <nav>
    <div class="searchBar">
      <input
        id="address"
        type="search"
        placeholder="Pesquisar endereço"
        style="flex: 1"
        disabled
      />
      <span class="material-symbols-outlined" id="searchBtn" title="Buscar" disabled
        >search</span
      >
    </div>
    <div class="buttons">
      <button id="centerBtn" disabled>
        Meu Local
        <span class="material-symbols-outlined" id="locationIcon"
          >my_location</span
        >
      </button>

      <button id="myPinsBtn" disabled>
        Meus Pins
        <span class="material-symbols-outlined" id="pinsIcon">
          location_on
        </span>
      </button>

      <button id="accountBtn" onclick="window.location.href='/perfil'">
        Meu Perfil
        <span class="material-symbols-outlined" id="accountIcon">
          account_circle
        </span>
      </button>
    </div>
  </nav>
  <script th:src="@{/js/utils/header.js}"></script>
</header>
