<div
  id="deleteModal"
  class="modal"
  style="z-index: 1000"
  th:fragment="deleteModal"
>
  <div class="panel">
    <h2>Confirmar exclusão</h2>
    <p>Deseja realmente excluir este pin?</p>
    <div class="modalFooter">
      <button id="cancelDelete">
        Cancelar <span class="material-symbols-outlined"> arrow_left_alt </span>
      </button>
      <button id="confirmDelete">
        Excluir <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>
</div>
