<div
  id="pinModal"
  class="modal"
  th:fragment="pinModal"
  onclick="fechaModal(event, this)"
>
  <div class="panel">
    <h2>Adicionar ocorrência</h2>
    <form id="pinForm">
      <input type="hidden" id="pinLat" name="lat" />
      <input type="hidden" id="pinLng" name="lng" />

      <div>
        <label for="pinTitle">Título<br /></label>
        <input
          id="pinTitle"
          name="title"
          style="width: 100%"
          placeholder="Insira um breve título..."
        />
      </div>

      <div>
        <label for="pinDesc">Descrição<br /></label>
        <textarea
          id="pinDesc"
          name="description"
          style="width: 100%"
          placeholder="Descreva o problema..."
        ></textarea>
      </div>

      <div class="colorImg">
        <div class="colorImg_div">
          <label for="pinCategoryTrigger" id="categoryLabel">Categoria</label>
          <div class="category-select-container">
            <button
              type="button"
              id="pinCategoryTrigger"
              class="category-trigger"
            >
              <span class="material-symbols-outlined icon"></span>
              <span class="text">Selecionar</span>
              <span
                class="material-symbols-outlined chevron"
                id="touch_icon"
                style="border: 0 !important; transition: 0.4s"
                >touch_app</span
              >
            </button>
            <input type="hidden" name="categoryId" id="pinCategory" />
          </div>
        </div>

        <div class="imgDiv">
          <label for="pinImage" id="imgLabel">Imagem<br /></label>
          <label id="btnImg" type="button" for="pinImage">
            <span class="material-symbols-outlined"> add </span>
          </label>
          <img
            id="previewImagem"
            alt="preview"
            onclick="aumentarImagem(this)"
          />
          <div id="btnsImg">
            <label
              id="trocarImagem"
              type="button"
              for="pinImage"
              state="disabled"
            >
              Trocar imagem
              <span class="material-symbols-outlined"> restart_alt </span>
            </label>
            <label id="removerImagem" type="button" state="disabled">
              <span class="material-symbols-outlined"> backspace </span>
              Remover imagem
            </label>
          </div>

          <input id="pinImage" name="image" type="file" accept="image/*" />
        </div>
      </div>

      <div class="modalFooter">
        <button type="button" id="cancelPin">
          Cancelar<span class="material-symbols-outlined">
            arrow_left_alt
          </span>
        </button>
        <button type="submit">
          Salvar <span class="material-symbols-outlined"> done_outline </span>
        </button>
      </div>
    </form>
  </div>
</div>
