<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">Sorospot</title>

    <link
      rel="icon"
      href="@{/images/sorospot-lettering.png}"
      type="image/x-icon"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/utils/variables.css}" />
    <link rel="stylesheet" th:href="@{/css/index/modals.css}" />
    <link rel="stylesheet" th:href="@{/css/index/map.css}" />
    <link rel="stylesheet" th:href="@{/css/utils/header.css}" />
  </head>

  <body>
    <th:block th:insert="~{utils/_header :: header}"></th:block>

    <th:block th:insert="fragments/index/_pinModal :: pinModal"></th:block>
    <th:block
      th:insert="fragments/index/_deleteModal :: deleteModal"
    ></th:block>
    <th:block
      th:insert="fragments/index/_deletePhotoModal :: deletePhotoModal"
    ></th:block>
    <th:block
      th:insert="fragments/index/_myPinsModal :: myPinsModal"
    ></th:block>
    <th:block th:insert="fragments/index/_editModal :: editModal"></th:block>

    <main>
      <th:block th:insert="${contentTemplate} :: content"></th:block>
    </main>

    <script th:inline="javascript">
      /*<![CDATA[*/
      window.SOROSPOT_GOOGLE_MAPS_API_KEY = /*[[${googleMapsApiKey}]]*/ "";
      window.SOROSPOT_CURRENT_USER_EMAIL = /*[[${currentUserEmail}]]*/ "";
      /*]]>*/
    </script>

    <script th:src="@{/js/index/map.js}" defer></script>
    <script th:src="@{/js/index/images.js}" defer></script>

    <script>
      window.delayedInitMap = function () {
        setTimeout(() => {
          window.initMap();
        }, 1000);
      };
    </script>

    <script
      th:src="|https://maps.googleapis.com/maps/api/js?key=${googleMapsApiKey}&callback=delayedInitMap|"
      async
      defer
    ></script>

    <script>
        var reference = document.querySelector("header");
        var myPinsButton = reference.querySelector("#myPinsBtn");
        var centerBtn = reference.querySelector("#centerBtn");
        var addressInput = reference.querySelector("#address");
        var searchBtn = reference.querySelector("#searchBtn");

        addressInput.removeAttribute("disabled");
        searchBtn.removeAttribute("disabled");
        myPinsButton.removeAttribute("disabled");
        centerBtn.removeAttribute("disabled");
    </script>
  </body>
</html>
