<div th:fragment="content">
    <section id="formContent">
        <img th:src="@{/images/sorospot-nobg.png}" alt="Sorospot Logo" class="logo">
        <form action="" method="post">
            <div id="nomeCompleto">
                <input type="text" id="nome" name="nome" placeholder="Nome" required>
                <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome" required>
            </div>
            <input type="number" id="cpf" name="cpf" placeholder="CPF" maxlenght="11" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="number" id="telefone" name="telefone" placeholder="Número de Telefone" required>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
            <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="Confirme sua senha" required>
            <button type="submit">Registrar</button>
        </form>
        <a th:href="@{/login}">Já possuo uma conta</a>
    </section>
</div>