<section th:fragment="summary(occurrence)">
    <div class="occurrence-summary">
        <h1 th:text="${occurrence.title}">Título da ocorrência</h1>
        <p>
            <strong>ID:</strong> <span th:text="${occurrence.id}"></span> |
            <strong>Status:</strong> <span th:text="${occurrence.status}"></span> |
            <strong>Categoria:</strong> <span th:text="${occurrence.category.type}"></span>
        </p>
        <p>
            <strong>Criada em:</strong> 
            <span th:text="${#temporals.format(occurrence.createdAt, 'dd/MM/yyyy HH:mm')}"></span>
            <strong>por:</strong> <span th:text="${occurrence.user.name}"></span>
        </p>
    </div>
</section>
